<?xml version='1.0' encoding='utf-8'?>
<robot name="knife">
  <link name="base" /><joint name="joint_0" type="fixed"><origin xyz="0 0 0" rpy="0 0 0" /><parent link="base" /><child link="link_0" /></joint><link name="link_1">
    <visual name="link_1">
      <origin xyz="0 0.005680 0" rpy="0 0 0" />
      <geometry>
        <box size="0.010649398823232766 0.0026702006368982513 0.03193712157931095" /></geometry>
    <material name="red"><color rgba="1 0 0 1" /></material></visual>
    <collision>
      <origin xyz="0 0.005680 0" rpy="0 0 0" />
      <geometry>
        <box size="0.010649398823232766 0.0026702006368982513 0.03193712157931095" /></geometry>
    </collision>
    </link>
  <joint name="joint_1" type="prismatic">
    <origin xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <child link="link_1" />
    <parent link="link_0" />
    <limit lower="-0.029208" upper="0.020792" effort="100.0" velocity="1.0" />
  </joint>
  <link name="link_0">
    <visual name="link_0">
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.01860164714980594 0.008689284246033695 0.14966614511120632" /></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.01860164714980594 0.008689284246033695 0.14966614511120632" /></geometry>
    </collision>
    </link>
</robot>