<?xml version='1.0' encoding='utf-8'?>
<robot name="knife">
  <link name="base" /><joint name="joint_0" type="fixed"><origin xyz="0 0 0" rpy="0 0 0" /><parent link="base" /><child link="link_0" /></joint><link name="link_1">
    <visual name="link_1">
      <origin xyz="0 0.006903 0" rpy="0 0 0" />
      <geometry>
        <box size="0.013193505799991248 0.003116360416311357 0.034536869357283805" /></geometry>
    <material name="red"><color rgba="1 0 0 1" /></material></visual>
    <collision>
      <origin xyz="0 0.006903 0" rpy="0 0 0" />
      <geometry>
        <box size="0.013193505799991248 0.003116360416311357 0.034536869357283805" /></geometry>
    </collision>
    </link>
  <joint name="joint_1" type="prismatic">
    <origin xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <child link="link_1" />
    <parent link="link_0" />
    <limit lower="-0.021566" upper="0.028434" effort="100.0" velocity="1.0" />
  </joint>
  <link name="link_0">
    <visual name="link_0">
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.03399629861347297 0.010689962249194579 0.13151622795021833" /></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.03399629861347297 0.010689962249194579 0.13151622795021833" /></geometry>
    </collision>
    </link>
</robot>