<?xml version='1.0' encoding='utf-8'?>
<robot name="knife">
  <link name="base" /><joint name="joint_0" type="fixed"><origin xyz="0 0 0" rpy="0 0 0" /><parent link="base" /><child link="link_0" /></joint><link name="link_1">
    <visual name="link_1">
      <origin xyz="0 0.011077 0" rpy="0 0 0" />
      <geometry>
        <box size="0.011922935521299844 0.005544781265683324 0.026117369220468964" /></geometry>
    <material name="red"><color rgba="1 0 0 1" /></material></visual>
    <collision>
      <origin xyz="0 0.011077 0" rpy="0 0 0" />
      <geometry>
        <box size="0.011922935521299844 0.005544781265683324 0.026117369220468964" /></geometry>
    </collision>
    </link>
  <joint name="joint_1" type="prismatic">
    <origin xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <child link="link_1" />
    <parent link="link_0" />
    <limit lower="-0.034118" upper="0.015882" effort="100.0" velocity="1.0" />
  </joint>
  <link name="link_0">
    <visual name="link_0">
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.03820984396659897 0.016608744044252985 0.12757557516316206" /></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.03820984396659897 0.016608744044252985 0.12757557516316206" /></geometry>
    </collision>
    </link>
</robot>