<?xml version='1.0' encoding='utf-8'?>
<robot name="knife">
  <link name="base" /><joint name="joint_0" type="fixed"><origin xyz="0 0 0" rpy="0 0 0" /><parent link="base" /><child link="link_0" /></joint><link name="link_1">
    <visual name="link_1">
      <origin xyz="0 0.005641 0" rpy="0 0 0" />
      <geometry>
        <box size="0.010484529917249873 0.0022142966404419813 0.02972669633578388" /></geometry>
    <material name="red"><color rgba="1 0 0 1" /></material></visual>
    <collision>
      <origin xyz="0 0.005641 0" rpy="0 0 0" />
      <geometry>
        <box size="0.010484529917249873 0.0022142966404419813 0.02972669633578388" /></geometry>
    </collision>
    </link>
  <joint name="joint_1" type="prismatic">
    <origin xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <child link="link_1" />
    <parent link="link_0" />
    <limit lower="-0.037059" upper="0.012941" effort="100.0" velocity="1.0" />
  </joint>
  <link name="link_0">
    <visual name="link_0">
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.019910195339840234 0.009067966291877026 0.15271380078922608" /></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.019910195339840234 0.009067966291877026 0.15271380078922608" /></geometry>
    </collision>
    </link>
</robot>