<?xml version='1.0' encoding='utf-8'?>
<robot name="knife">
  <link name="link_1">
    <visual name="link_1">
      <origin xyz="0 0.010330 0" rpy="0 0 0" />
      <geometry>
        <box size="0.009564328598692114 0.007135317181195958 0.025348363492327497" /></geometry>
    <material name="red"><color rgba="1 0 0 1" /></material></visual>
    <collision>
      <origin xyz="0 0.010330 0" rpy="0 0 0" />
      <geometry>
        <box size="0.009564328598692114 0.007135317181195958 0.025348363492327497" /></geometry>
    </collision>
    </link>
  <joint name="joint_1" type="prismatic">
    <origin xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <child link="link_1" />
    <parent link="link_0" />
    <limit lower="-0.020198" upper="0.029802" effort="100.0" velocity="1.0" />
  </joint>
  <link name="link_0">
    <visual name="link_0">
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.015621965204188544 0.013524019067763994 0.12031966791846" /></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.015621965204188544 0.013524019067763994 0.12031966791846" /></geometry>
    </collision>
    </link>
</robot>