<?xml version='1.0' encoding='utf-8'?>
<robot name="knife">
  <link name="base" /><joint name="joint_0" type="fixed"><origin xyz="0 0 0" rpy="0 0 0" /><parent link="base" /><child link="link_0" /></joint><link name="link_1">
    <visual name="link_1">
      <origin xyz="0 0.007830 0" rpy="0 0 0" />
      <geometry>
        <box size="0.007959396628982467 0.005813232707844232 0.024876041222511008" /></geometry>
    <material name="red"><color rgba="1 0 0 1" /></material></visual>
    <collision>
      <origin xyz="0 0.007830 0" rpy="0 0 0" />
      <geometry>
        <box size="0.007959396628982467 0.005813232707844232 0.024876041222511008" /></geometry>
    </collision>
    </link>
  <joint name="joint_1" type="prismatic">
    <origin xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <child link="link_1" />
    <parent link="link_0" />
    <limit lower="-0.040809" upper="0.009191" effort="100.0" velocity="1.0" />
  </joint>
  <link name="link_0">
    <visual name="link_0">
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.01836970978633367 0.009845867095504033 0.14614135792964242" /></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.01836970978633367 0.009845867095504033 0.14614135792964242" /></geometry>
    </collision>
    </link>
</robot>