<?xml version='1.0' encoding='utf-8'?>
<robot name="knife">
  <link name="base" /><joint name="joint_0" type="fixed"><origin xyz="0 0 0" rpy="0 0 0" /><parent link="base" /><child link="link_0" /></joint><link name="link_1">
    <visual name="link_1">
      <origin xyz="0 0.005854 0" rpy="0 0 0" />
      <geometry>
        <box size="0.009113950890913733 0.003108813662665472 0.03151244893942242" /></geometry>
    <material name="red"><color rgba="1 0 0 1" /></material></visual>
    <collision>
      <origin xyz="0 0.005854 0" rpy="0 0 0" />
      <geometry>
        <box size="0.009113950890913733 0.003108813662665472 0.03151244893942242" /></geometry>
    </collision>
    </link>
  <joint name="joint_1" type="prismatic">
    <origin xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <child link="link_1" />
    <parent link="link_0" />
    <limit lower="-0.031943" upper="0.018057" effort="100.0" velocity="1.0" />
  </joint>
  <link name="link_0">
    <visual name="link_0">
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.01918589787175607 0.00859841407775349 0.14111169590955644" /></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.01918589787175607 0.00859841407775349 0.14111169590955644" /></geometry>
    </collision>
    </link>
</robot>