<?xml version='1.0' encoding='utf-8'?>
<robot name="knife">
  <link name="base" /><joint name="joint_0" type="fixed"><origin xyz="0 0 0" rpy="0 0 0" /><parent link="base" /><child link="link_0" /></joint><link name="link_1">
    <visual name="link_1">
      <origin xyz="0 0.005887 0" rpy="0 0 0" />
      <geometry>
        <box size="0.010219090581808742 0.002919574969464652 0.028576956118462764" /></geometry>
    <material name="red"><color rgba="1 0 0 1" /></material></visual>
    <collision>
      <origin xyz="0 0.005887 0" rpy="0 0 0" />
      <geometry>
        <box size="0.010219090581808742 0.002919574969464652 0.028576956118462764" /></geometry>
    </collision>
    </link>
  <joint name="joint_1" type="prismatic">
    <origin xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <child link="link_1" />
    <parent link="link_0" />
    <limit lower="-0.034520" upper="0.015480" effort="100.0" velocity="1.0" />
  </joint>
  <link name="link_0">
    <visual name="link_0">
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.01905211593649654 0.008854297081539652 0.15211145045645147" /></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.01905211593649654 0.008854297081539652 0.15211145045645147" /></geometry>
    </collision>
    </link>
</robot>